RewriteEngine ON

ErrorDocument 404 /views/error/404.php

RewriteRule ^home?$ index.php 
RewriteRule ^courses?$ views/pages/courses/courses.php
RewriteRule ^course-details/([0-9]+)/([a-z0-9A-Z]+) views/pages/courses/course-details.php?id=$1&course_name=$2
RewriteRule ^about?$ views/pages/about/about.php
RewriteRule ^contact?$ views/pages/contact/contact.php

RewriteRule ^login?$ views/pages/auth/login.php
RewriteRule ^logout?$ controllers/logoutController.php
RewriteRule ^registration?$ views/pages/auth/registration.php
RewriteRule ^verification/(.+) views/pages/auth/verification.php?email=$1

RewriteRule ^dashboard?$ views/pages/dashboard/dashboard.php
RewriteRule ^dashboard/([0-9]+) views/pages/dashboard/dashboard.php?page=$1
RewriteRule ^create-profile?$ views/pages/dashboard/create-profile.php
RewriteRule ^edit-profile?$ views/pages/dashboard/edit-profile.php
RewriteRule ^change-password?$ views/pages/dashboard/change-password.php

RewriteRule ^forgot-password?$ views/pages/auth/forgotpass.php


RewriteRule ^order/([0-9]+) controllers/orderController.php?id=$1


RewriteRule ^courses/([0-9]+)/([a-z0-9A-Z]+) views/pages/courses/category-courses.php?cat_id=$1&cat_name=$2

#for admin
RewriteRule ^admin/login?$ admin/views/pages/auth/auth.php

RewriteRule ^admin?$ admin/index.php
RewriteRule ^admin/paid-order?$ admin/views/pages/paid-order/paid-order.php
RewriteRule ^admin/unpaid-order?$ admin/views/pages/unpaid-order/unpaid-order.php

RewriteRule ^admin/add-course?$ admin/views/pages/add-course/add-course.php
RewriteRule ^admin/edit-course/([0-9]+) admin/views/pages/edit-course/edit-course.php?id=$1
RewriteRule ^admin/all-course?$ admin/views/pages/all-course/all-course.php

RewriteRule ^admin/add-teacher?$ admin/views/pages/add-teacher/add-teacher.php
RewriteRule ^admin/edit-teacher/([0-9]+) admin/views/pages/edit-teacher/edit-teacher.php?id=$1
RewriteRule ^admin/all-teachers?$ admin/views/pages/all-teachers/all-teachers.php

RewriteRule ^admin/search?$ admin/views/pages/search/search.php

RewriteRule ^admin/course-utility?$ admin/views/pages/course-utility/course-utility.php

Options All -Indexes
# RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
# RewriteRule ^ /%1 [NC,L,R]

# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^ %{REQUEST_URI}.php [NC,L]