RewriteEngine ON

ErrorDocument 404 /views/error/404.php

RewriteRule ^home?$ index.php 

RewriteRule ^courses?$ views/pages/courses/courses.php
RewriteRule ^course-details/([0-9]+)/([a-z0-9A-Z]+) views/pages/courses/course-details.php?id=$1&course_name=$2

RewriteRule ^notice?$ views/pages/notice/notice.php
RewriteRule ^live?$ views/pages/live/live.php
RewriteRule ^about?$ views/pages/about/about.php
RewriteRule ^contact?$ views/pages/contact/contact.php

RewriteRule ^sheets?$ views/pages/sheets/sheets.php
RewriteRule ^sheet-details/([0-9]+)/([a-z0-9A-Z]+) views/pages/sheets/sheet-details.php?id=$1&sheet_name=$2

RewriteRule ^login?$ views/pages/auth/login.php
RewriteRule ^logout?$ controllers/logoutController.php
RewriteRule ^registration?$ views/pages/auth/registration.php
RewriteRule ^verification/(.+) views/pages/auth/verification.php?email=$1

RewriteRule ^dashboard?$ views/pages/dashboard/dashboard.php
RewriteRule ^dashboard/([0-9]+) views/pages/dashboard/dashboard.php?page=$1
RewriteRule ^create-profile?$ views/pages/dashboard/create-profile.php
RewriteRule ^edit-profile?$ views/pages/dashboard/edit-profile.php
RewriteRule ^change-password?$ views/pages/dashboard/change-password.php

RewriteRule ^forgot-password?$ views/pages/auth/forgotpass.php


RewriteRule ^order/([0-9]+) controllers/orderController.php?id=$1
RewriteRule ^sheet-order/([0-9]+) controllers/sheetOrderController.php?id=$1


RewriteRule ^courses/([0-9]+)/([_a-z0-9A-Z]+) views/pages/courses/category-courses.php?cat_id=$1&cat_name=$2
RewriteRule ^sheets/([0-9]+)/([_a-z0-9A-Z]+) views/pages/sheets/category-sheets.php?cat_id=$1&cat_name=$2

#for admin
RewriteRule ^admin/login?$ admin/views/pages/auth/auth.php

RewriteRule ^admin?$ admin/index.php
RewriteRule ^admin/paid-order?$ admin/views/pages/paid-order/paid-order.php
RewriteRule ^admin/unpaid-order?$ admin/views/pages/unpaid-order/unpaid-order.php

RewriteRule ^admin/all-sheet-order?$ admin/views/pages/all-sheet-order/all-sheet-order.php

RewriteRule ^admin/add-course?$ admin/views/pages/add-course/add-course.php
RewriteRule ^admin/course-category?$ admin/views/pages/course-category/course-category.php
RewriteRule ^admin/edit-course/([0-9]+) admin/views/pages/edit-course/edit-course.php?id=$1
RewriteRule ^admin/all-course?$ admin/views/pages/all-course/all-course.php
RewriteRule ^admin/archive-course?$ admin/views/pages/archive/archive-course.php
RewriteRule ^admin/free-course?$ admin/views/pages/free-course/free-course.php

RewriteRule ^admin/add-sheet?$ admin/views/pages/add-sheet/add-sheet.php
RewriteRule ^admin/edit-sheet/([0-9]+) admin/views/pages/edit-sheet/edit-sheet.php?id=$1
RewriteRule ^admin/all-sheets?$ admin/views/pages/all-sheets/all-sheets.php
RewriteRule ^admin/archive-sheets?$ admin/views/pages/archive/archive-sheet.php

RewriteRule ^admin/add-notice?$ admin/views/pages/add-notice/add-notice.php
RewriteRule ^admin/all-notice?$ admin/views/pages/all-notice/all-notice.php

RewriteRule ^admin/add-teacher?$ admin/views/pages/add-teacher/add-teacher.php
RewriteRule ^admin/edit-teacher/([0-9]+) admin/views/pages/edit-teacher/edit-teacher.php?id=$1
RewriteRule ^admin/all-teachers?$ admin/views/pages/all-teachers/all-teachers.php

RewriteRule ^admin/search?$ admin/views/pages/search/search.php

RewriteRule ^admin/course-utility?$ admin/views/pages/course-utility/course-utility.php
RewriteRule ^admin/slider?$ admin/views/pages/slider/slider.php
RewriteRule ^admin/registered-users?$ admin/views/pages/registered-users/registered-users.php
RewriteRule ^admin/contact?$ admin/views/pages/contact/contact.php

RewriteRule ^admin/coupon?$ admin/views/pages/coupon/coupon.php
RewriteRule ^admin/live?$ admin/views/pages/live/live.php


<IfModule mod_expires.c>
ExpiresActive On

# Images
# ExpiresByType image/jpeg "access plus 1 year"
# ExpiresByType image/gif "access plus 1 year"
# ExpiresByType image/png "access plus 1 year"
# ExpiresByType image/webp "access plus 1 year"
# ExpiresByType image/svg+xml "access plus 1 year"
# ExpiresByType image/x-icon "access plus 1 year"

# Video
# ExpiresByType video/mp4 "access plus 1 year"
# ExpiresByType video/mpeg "access plus 1 year"

# CSS, JavaScript
ExpiresByType text/css "access plus 1 minute"
ExpiresByType text/javascript "access plus 1 minute"
ExpiresByType application/javascript "access plus 1 minute"

# Others
# ExpiresByType application/pdf "access plus 1 month"
# ExpiresByType application/x-shockwave-flash "access plus 1 month"

</IfModule>


Options All -Indexes
# RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
# RewriteRule ^ /%1 [NC,L,R]

# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^ %{REQUEST_URI}.php [NC,L]