@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 600px) {
    .card-body.all-order {
        display: unset;
        overflow-y: scroll;
    }
    table.all-order-table {
        border-collapse: unset;
    }
}